Source: libcariad-core-screendump
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-core-screendump
Replaces: libdisplaycore-core-screendump
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Core
Depends: libcariad-core, libsd-chipkit
Provides: ScreenDump.h
Description: ScreenDump
 Dump the screen content (on displays that support reading) to a file on an SD card



